header {
    height: 70px;
}

#contactForm {
    width: 70%;
    display: inline-block;
    margin: 10px 15%;
    border: 2px solid #606360;
    padding: .5%;
    border-radius: 5px;
}

#contactFormTitle {
    text-align: center;
}

#aboutMeImage {
    display: inline-block;
    width: 100%;
    margin: 1%;
}